body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding-top: 40px;
}
.navbar {
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.navbar-nav .nav-link {
    color: #000;
    margin-right: 20px;
    font-weight: 100;
}
.navbar-brand img {
    height: 70px; 
    width: auto;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-section {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
}
.section-header {
    background-color: #7ec6c4;
    padding: 15px 0;
    margin-bottom: 50px;
}
.section-header h2 {
    color: #fff;
    margin: 0;
    padding-left: 0px; 
}
.contact-section h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}
.contact-section p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.contact-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.whatsapp-link {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.whatsapp-icon {
    font-size: 2.5rem;
    color: #25D366;
    margin-right: 10px;
}
.footer-section {
    background-color: #000;
    color: #fff;
}
.footer-section .bi {
    font-size: 1.5rem;
    color: #fff;
}
.footer-section .btn-primary {
    background-color: #00d1b2;
    border-color: #00d1b2;
}
.footer-columna img {
    height: 150px; 
    width: auto;
}