body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding-top: 70px;
}
.navbar {
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.navbar-nav .nav-link {
    color: #000;
    margin-right: 20px;
    font-weight: 100;
}
.navbar-brand img {
    height: 70px; 
    width: auto;
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px ;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding-bottom: 25px;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-section {
    padding-top: 50px;
    padding-bottom: 20px;
}

.imagen-section {
    padding-bottom: 20px;
}

.servicios-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.servicios-header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


.img-servicio {
    width: 100%;
    max-width: 400px; 
    height: auto;
    margin-bottom: 20px;
}

.endodoncia-text {
    background-color: #00b5ad;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.25rem;
}
.footer-section {
    background-color: #000;
    color: #fff;
}

.footer-section .bi {
    font-size: 1.5rem;
    color: #fff;
}

.footer-section .btn-primary {
    background-color: #00d1b2;
    border-color: #00d1b2;
}

.footer-columna img {
    height: 150px; 
    width: auto;
}

.btn-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #20c997;
    border: 1px solid #20c997;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #17a589;
    border-color: #17a589;
}